/* Criado por Juliano Costa
jctecnologias.com.br
contato@jctecnologias.com.br
Projeto Open Source
Apenas me de créditos.  */

/* Define a cor de fundo do corpo da página */
body {
  background-color: #f0f0f0;
}

/* Estiliza o container principal */
.container {
  background-color: #fff; /* Cor de fundo branca */
  padding: 20px; /* Espaçamento interno de 20px */
  border-radius: 10px; /* Bordas arredondadas de 10px */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra leve ao redor do container */
}

/* Centraliza o texto dos títulos h1 e h2 */
h1,
h2 {
  text-align: center;
}

/* Adiciona espaçamento acima dos elementos label */
label {
  margin-top: 10px;
}

/* Adiciona espaçamento abaixo dos elementos input */
input {
  margin-bottom: 10px;
}
